%main.container.general-main-wrap
  .hidden-xs.hidden-sm
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
        .text-center
          %h3.general-subtitle.mt-0 Returning Customer
          %a.general-login-icon{ href: user_facebook_omniauth_authorize_path }
            %i.fa.fa-facebook-official
          %p.general-login-text or
        = form_for(User.new, url: user_session_path, html: { class: 'general-form' }) do |f|
          .form-group.mb-40
            %p.fw-600 Log In with Password
            = f.label :email, 'Enter Email', class: 'control-label input-label'
            = f.email_field :email, placeholder: 'Enter Email', autofocus: true, class: 'form-control'
          .form-group.mb-40
            = f.label :password, class: 'control-label input-label'
            = f.password_field :password, placeholder: 'Password', class: 'form-control'
            %a.help-block.in-gold-500{ href: new_user_password_path } Forgot password?
          .text-left
          = f.submit 'Log In with Password', class: 'btn btn-default mb-20'
      .col-md-5.mb-40
        .visible-xs.visible-sm
        .text-center
          %h3.general-subtitle.mt-0 New Customer
          %a.general-login-icon{href: user_facebook_omniauth_authorize_path}
            %i.fa.fa-facebook-official
          %p.general-login-text or
        = form_for(User.new, url: user_registration_path, html: { class: 'general-form' }) do |f|
          .form-group.mb-40
            %p.fw-600 Quick Register
            %p.fw-300 You'll be able to create password later
            = f.label :email, 'Enter Email', class: 'control-label input-label'
            = f.email_field :email, placeholder: 'Enter Email', class: 'form-control'
            - password = Devise.friendly_token
            = f.hidden_field :password, value: password
            = f.hidden_field :password_confirmation, value: password
          .text-left
          -#= f.submit continue, class: 'btn btn-default mb-20'
