%main.container.general-main-wrap
  = simple_form_for @addresses, url: wizard_path, method: :put do |f|
    .row
      .col-md-6.col-xs-12
        = f.fields_for @addresses.billing do |b|
          = b.input :user_id, label: false, input_html: { value: current_user.id, type: 'hidden' }
          = b.input :order_id, label: false, input_html: { value: current_order.id, type: 'hidden' }
          = b.input :first_name
          = b.input :last_name
          = b.input :address
          = b.input :city
          = b.input :country
          = b.input :zip
          = b.input :phone

      .col-md-6.col-xs-12
        = f.fields_for @addresses.shipping do |s|
          = s.input :user_id, label: false, input_html: { value: current_user.id, type: 'hidden' }
          = s.input :order_id, label: false, input_html: { value: current_order.id, type: 'hidden' }
          = s.input :first_name
          = s.input :last_name
          = s.input :address
          = s.input :city
          = s.input :country
          = s.input :zip
          = s.input :phone

          .form-group.checkbox
            %label.checkbox-label
              = f.check_box :use_billing, class: 'checkbox-input', id: 'use_billing', hidden: true
              %span.checkbox-icon
                %i.fa.fa-check
              %span.checkbox-text= 'Use billing'

      = f.submit "Save and Continue", class: 'btn btn-default mb-20'
-#= simple_form_for @form, url: wizard_path do |f|
  .row
    .col-md-6
      = f.fields_for :billing_address do |ba|
        = ba.input :user_id, label: false, input_html: { value: @user.id, type: 'hidden' }
        = ba.input :first_name
        = ba.input :last_name
        = ba.input :address
        = ba.input :city
        = ba.input :country
        = ba.input :zip
        = ba.input :phone
    .col-md-6
      = f.fields_for :shipping_address do |sa|
        = sa.input :user_id, label: false, input_html: { value: @user.id, type: 'hidden' }
        = sa.input :first_name
        = sa.input :last_name
        = sa.input :address
        = sa.input :city
        = sa.input :country
        = sa.input :zip
        = sa.input :phone
  = f.submit

-#= link_to "Save and Continue", next_wizard_path, class: 'btn btn-default mb-20'

-#%main.container
  %h1.general-title-margin Checkout
  %ul.steps.list-inline
    %li.step.active
      %span.step-number 1
      %span.step-text.hidden-xs Address
    %li.step-divider
    %li.step
      %span.step-number 2
      %span.step-text.hidden-xs Delivery
    %li.step-divider
    %li.step
      %span.step-number 3
      %span.step-text.hidden-xs Payment
    %li.step-divider
    %li.step
      %span.step-number 4
      %span.step-text.hidden-xs Confirm
    %li.step-divider
    %li.step
      %span.step-number 5
      %span.step-text.hidden-xs Complete
  %form.res-mb-100
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .form-group.has-error
          %label.control-label.input-label{for: "firstName"} First Name
          %input#firstName.form-control{name:"fname", type: "text", placeholder: "First Name"}
          %span.help-block Please enter your first name
        .form-group
          %label.control-label.input-label{for: "lastName"} Last Name
          %input#lastName.form-control{name:"lname", type: "text", placeholder: "Last Name"}
        .form-group
          %label.control-label.input-label{for: "address"} Address
          %input#address.form-control{name: "address", type: "text", placeholder: "Address"}
        .form-group
          %label.control-label.input-label{for: "city"} City
          %input#city.form-control{name: "city", type: "text", placeholder: "City"}
        .form-group
          %label.control-label.input-label{for: "zip"} Zip
          %input#zip.form-control{name: "zip", type: "text", placeholder: "Zip"}
        .form-group
          %label.control-label.input-label{for: "сountry"} Country
          %input#country.form-control{name: "country", type: "text", placeholder: "Select a country"}
        .form-group
          %label.control-label.input-label{for: "phone"} Phone
          %input#phone.form-control{name: "phone", type: "tel", placeholder: "Example +355 66 123 4567"}
      .col-md-5.col-md-offset-1.mb-60
        .visible-xs.visible-sm
          %h3.general-subtitle Shipping Address
        .form-group.has-error
          %label.control-label.input-label{for: "firstName"} First Name
          %input#firstName.form-control{name:"fname", type: "text", placeholder: "First Name"}
          %span.help-block Please enter your first name
        .form-group
          %label.control-label.input-label{for: "lastName"} Last Name
          %input#lastName.form-control{name:"lname", type: "text", placeholder: "Last Name"}
        .form-group
          %label.control-label.input-label{for: "address"} Address
          %input#address.form-control{name: "address", type: "text", placeholder: "Address"}
        .form-group
          %label.control-label.input-label{for: "city"} City
          %input#city.form-control{name: "city", type: "text", placeholder: "City"}
        .form-group
          %label.control-label.input-label{for: "zip"} Zip
          %input#zip.form-control{name: "zip", type: "text", placeholder: "Zip"}
        .form-group
          %label.control-label.input-label{for: "сountry"} Country
          %select#country.form-control{name: "country", placeholder: "Select a country"}
            %option London
            %option London
            %option London
        .form-group
          %label.control-label.input-label{for: "phone"} Phone
          %input#phone.form-control{name: "phone", type: "tel", placeholder: "Example +355 66 123 4567"}
        .form-group.checkbox
          %label.checkbox-label
            %input.checkbox-input{type: "checkbox", hidden: "true"}
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text Use Billing Adress
    .general-text-align.mb-60
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        %tr
          %td
            %p.font-16 Item Total:
          %td
            %p.font-16 €117.69
        %tr
          %td
            %p.font-16 Order Total:
          %td
            %p.font-16 €117.69
      -#%button.btn.disabled.center-block.mb-20 Save and Continue
      = link_to "Save and Continue", next_wizard_path, class: 'btn btn-default mb-20'
