= form_for @author, html: {class: "general-form"} do |f|
  - if @author.errors.any?
    #error_explanation
      %h2= "#{pluralize(@author.errors.count, "error")} prohibited this author from being saved:"
      %ul
        - @author.errors.full_messages.each do |message|
          %li= message
  .form-group.mb-30
    = f.label :first_name, class: "control-label input-label"
    = f.text_field :first_name, class: "form-control"
  .form-group.mb-30
    = f.label :last_name, class: "control-label input-label"
    = f.text_field :last_name, class: "form-control"
  .form-group.mb-30
    = f.label :description, class: "control-label input-label"
    = f.text_area :description, size: "60x6", class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-default mb-20"
