%p.in-gold-500.font-18.mb-25 Password
= form_for(@user, url: { action: "update_password" }, html: { class: 'general-form-md divider-lg-bottom pb-25'}) do |f|
  .form-group.mb-30
    = f.label :current_password, 'Old Password', class: "control-label input-label"
    = f.password_field :current_password, class: "form-control", autocomplete: "off", placeholder: 'Old Password'
  .form-group.mb-30
    = f.label :password, 'New Password', class: "control-label input-label"
    = f.password_field :password, class: "form-control", autofocus: true, autocomplete: "off", placeholder: 'New Password'
  .form-group.mb-40
    = f.label :password_confirmation, 'Confirm Password', class: "control-label input-label"
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: 'Confirm Password'
  .general-text-align
    = f.submit 'Save', class: 'btn btn-default mb-10'
