%li.mr-35
  -#%a.filter-link{href: "#"}
    = category.name
  = link_to books_path(category_id: "#{category.id}"), class: "filter-link" do
    = category.name
    %span.badge.general-badge= category.books.size
