= form_with(model: [ @book ]) do |form|
  .col-xs-12.col-md-4
    %p.h1.in-gold-500.mt-10= "€#{@book.price}"
  .col-xs-5.col-md-3
    .input-group.general-position
      %a.input-link.pt-7#minus{href: ""}
        %i.fa.fa-minus.line-height-40
      = form.text_field :quantity, class: "form-control quantity-input"
      -#%input.form-control.quantity-input{type: "text", value: @book.quantity}
      %a.input-link.pt-7#plus{href: ""}
        %i.fa.fa-plus.line-height-40
  .col-xs-7.col-md-5
    = form.submit 'Add to Cart',        class: "btn btn-default pull-right general-position"
    -#%button.btn.btn-default.pull-right.general-position Add to Cart