%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  = @sort_by || "Newest first"
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  %li
    -#%a{href: "#"} Newest first
    = link_to "Newest first", books_path(category_id: @current_category, sort_by: 'created_at DESC')
  %li
    -#%a{href: "#"} Popular first
    = link_to "Popular first", books_path(category_id: @current_category, sort_by: 'created_at')
  %li
    -#%a{href: "#"} Price: Low to hight
    = link_to "Price: Low to hight", books_path(category_id: @current_category, sort_by: 'price')
  %li
    -#%a{href: "#"} Price: Hight to Low
    = link_to "Price: Hight to Low", books_path(category_id: @current_category, sort_by: 'price DESC')
  %li
    -#%a{href: "#"} Title: A to Z
    = link_to "Title: A to Z", books_path(category_id: @current_category, sort_by: 'title')
  %li
    -#%a{href: "#"} Title: Z to A
    = link_to "Title: Z to A", books_path(category_id: @current_category, sort_by: 'title DESC')
