%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render 'order_dropdown'
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %a.filter-link.active{href: books_path}
          All
          %span.badge.general-badge= Book.count
      - @categories.each do |category|
        = render 'categories_list', category: category
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        All
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        - @categories.each do |category|
          = render 'categories_filter', category: category
    %p.lead.small.mb-10 Sort by
    .dropdown
      = render 'order_dropdown'
  .mb-120  
    - @books.in_groups_of(4) do |group|
      .row
        - group.each do |book|
          .col-xs-6.col-sm-3
            .general-thumb-wrap
              .thumbnail.general-thumbnail
                %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
                .thumb-hover
                  .general-thumb-link-wrap
                    %a.thumb-hover-link{href: book_path(book)}
                      %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                    %a.thumb-hover-link{href: "#"}
                      %i.fa.fa-shopping-cart.thumb-icon
            .general-thumb-info
              %p.title= book.title
              %p.font-16.in-gold-500= "€#{book.price}"
              %span.divider-sm
              %p.lead.small= book_authors(book)

    = paginate @books
    .text-center
      %button.btn.btn-primary View More
