-#= simple_form_for @form, url: { action: 'update' }, validate: true do |f|
  .row
    .col-md-6
      = f.fields_for :billing_address do
        = ba.input :user_id, label: false, input_html: { value: @user.id, type: 'hidden' }
        = ba.input :first_name
        = ba.input :last_name
        = ba.input :address
        = ba.input :city
        = ba.input :country
        = ba.input :zip
        = ba.input :phone
    .col-md-6
      = f.fields_for :shipping_address do |sa|
        = sa.input :user_id, label: false, input_html: { value: @user.id, type: 'hidden' }
        = sa.input :first_name
        = sa.input :last_name
        = sa.input :address
        = sa.input :city
        = sa.input :country
        = sa.input :zip
        = sa.input :phone
  = f.submit


= simple_form_for @form, url: { action: 'update' } do |f|
  = f.input :user_id, label: false, input_html: { value: current_order.id, type: 'hidden' }
  = f.input :first_name
  = f.input :last_name
  = f.input :address
  = f.input :city
  = f.input :country
  = f.input :zip
  = f.input :phone
  = f.submit