= form_for @order_item, method: :post do |form|
  = content_for :head do
    = javascript_pack_tag 'quantity_input', 'data-turbolinks-track': 'reload'

  = form.hidden_field :book_id, value: @book.id
  .col-xs-12.col-md-4
    %p.h1.in-gold-500.mt-10= number_to_euro @book.price
  .col-xs-5.col-md-3
    .input-group.general-position#quantity-input
      %quantity-input{field_id: 'order_item_quantity',field_name: 'order_item[quantity]', field_class: 'form-control quantity-input', value: 1}
  .col-xs-7.col-md-5
    = form.submit 'Add to Cart', class: "btn btn-default pull-right general-position"
