%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path} Bookstore
      = text_field_tag :q, params[:q], class: 'search-nav-input', placeholder: 'Find а book'
      %a.shop-link.pull-right.visible-xs{href: cart_path}
        = render 'shop_icon'
    %a.shop-link.pull-right.hidden-xs{href: cart_path}
      = render 'shop_icon'
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .visible-xs
        %button.close{type: "button", 'aria-label': "Close"}
          %span{'aria-hidden': "true"} &times;
        %ul.nav.navbar-nav
          %li
            = link_to "Home", root_path
          %li
            %a{type: "button", 'data-toggle': "collapse", href: "#menu_shop", 'aria-expanded': "false", 'aria-controls': "menu_shop"} Shop
            %ul#menu_shop.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
              %li
                = link_to "All", catalog_path, class: "collapse-link"
              - categories.each do |category|
                %li
                  = link_to "#{category.name}", catalog_path(category_id: category.id), class: "collapse-link"
          - if user_signed_in?
            %li
              %a{type: "button", 'data-toggle': "collapse", href: "#menu_my_account", 'aria-expanded': "false", 'aria-controls': "menu_my_account"} My account
              %ul#menu_my_account.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
                %li
                  = link_to "Orders", orders_path, class: "collapse-link"
                %li
                  = link_to "Settings", settings_addresses_path, class: "collapse-link"
            %li
              = link_to "Log out", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "Log in", new_user_session_path 
            %li
              = link_to "Sign up", new_user_registration_path
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            = link_to "Home", root_path
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} Shop
            %ul.dropdown-menu
              %li
                = link_to "All", catalog_path, class: "collapse-link"
              - categories.each do |category|
                %li
                  = link_to "#{category.name}", catalog_path(category_id: category.id)
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} My account
              %ul.dropdown-menu
                %li
                  = link_to "Orders", orders_path
                %li
                  = link_to "Settings", settings_addresses_path
                %li.divider{role: "separator"}
                %li
                  = link_to "Log out", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "Log in", new_user_session_path
            %li
              = link_to "Sign up", new_user_registration_path
    .search-results
      %ul
